# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules

# Dist / build outputs
dist
build
out
.temp

# Vite cache
.vite

# Coverage directory
coverage

# Next.js
.next
out

# Mac / Linux / Windows junk
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# IDE folders
.vscode/*
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs created by PM2 or other process managers
pmlogs
pm2.log

# Debug files
*.orig

# Optional: ignore uploads folder (if storing files locally)
# uploads
